Tensorflow==2.2.0
Keras==2.2.4
Flask
Flask-Admin
Flask-Bcrypt
Flask-DebugToolbar
Flask-Login
Flask-Mail
Flask-Script
Flask-SQLAlchemy
Flask-WTF
gunicorn==19.4.5
itsdangerous==0.24
pytz==2016.10
structlog==16.1.0
termcolor==1.1.0
WTForms==2.1
stripe==2.23.0


